@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client
@using HairSalon.Models

<h1> Info on @Model.ClientName <h1>
<div class="card">
<ul class = "clientinfo">
<li><b> Client Name : @Model.ClientName</b> </li>
<li><b>Client Number: @Model.PhoneNumber</b></li>
<li><b>Client Style: @Model.StyleType </b> </li>
@Html.ActionLink("Edit", "Edit", "Client", new {id = @Model.ClientID})
</ul>
</div>