@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist

<h1> Add a new Stylist! <h1>
    <br>
@using (Html.BeginForm())
{
    <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    @Html.LabelFor(model => model.Specialties)
    @Html.TextBoxFor(model => model.Specialties)
    @Html.LabelFor(model => model.Price)
    @Html.TextBoxFor(model => model.Price)
    <br>
    <br>
    <input type = "submit" value = "Create new stylist"/>
    </div>

}
